.projectsWithTitle {
    width: 100%;
    background: white;
}

.projectsWithTitle h1 {
    text-align: center;
    color: black;
    font-size: 70px;
    font-weight: 500;
    margin: 0%;
    padding: 50px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.project {
    position: relative;
    min-width: 275px;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    border-radius: 25px; 
    margin: 20px; 
    cursor: pointer;
    transition: transform 0.5s;
  }

.cardImg {
    min-width: 200px;
    height: auto;    
    filter: grayscale(100%);
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px; 
}

  
.project:hover .overlay {
    opacity: 1;
}
  
.overlayContent {
    text-align: center;
    color: #ffffff; 
}
  
.description {
    font-size: 16px;
    margin: 10px;
}

.tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    background-color: #ffffff;
    color: #000000; 
    border-radius: 25px; 
}

@media screen and (max-width:900px)
  {
    .projectsWithTitle h1 {
        font-size: 50px;
        padding: 15px 5px 0px 5px;
    }
}
