.skills {
    margin-bottom: 50px;
}

.skills h1 {
    font-size: 70px;
    font-weight: 500;
    color: #f1f1f1;
    text-align: center;
    margin: 0;
}

.containerSkills {
    display: flex;
    color: #f1f1f1;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.card {
    width: 30%;
}

.card h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: white;
  }

  .imageWithTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.15s ease-in-out; 
  }
  
  .imageWithTitle img {
    width: 50px; 
    filter: brightness(0) invert(1);
    
  }

  .imageWithTitle:hover {
    transform: scale(1.30);
  }
  
  
  .imageWithTitle p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
