.skills {
    margin-bottom: 50px;
}

.skills h1 {
    font-size: 70px;
    font-weight: 500;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0px;
}

.containerSkills {
    display: flex;
    color: #f1f1f1;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.card {
    width: 40%;
}

.card h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding: 20px 0px;
  }

.imageWithTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.15s ease-in-out; 
}
  
.imageWithTitle img {
    width: 50px; 
    filter: brightness(0) invert(1);  
    margin: 10px;
  }

.imageWithTitle:hover {
    transform: scale(1.30);
}
  
  
.imageWithTitle p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
  

  @media screen and (max-width:900px)
  {
    .skills h1 {
      font-size: 50px;
  }
    .card {
      width: 90%;
  }
    
    .containerSkills {
      flex-direction: column;
      align-items: center;
  }
  .image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

}