.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcomeMedias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
    min-height: 100vh;
}

@media screen and (max-width:900px)
  {
    .welcomeMedias {
        flex-direction: column;
        
    }
}

