.about {
    width: 100%;
    background: white;
}
.text {
    width: 55%;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 20px;
}

.title {
    text-align: center;
    color: black;
    font-size: 70px;
    font-weight: 500;
    margin: 0%;
    padding: 20px;
   
}

.moiImage {
    width: 300px;
    height: 300px;
    border-radius: 80% 40% 90% 40%;
    object-fit: cover;
    box-shadow: 0 0 10px rgb(0, 0, 0); 
}

.imgText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width:900px)
  {
    .imgText {
        flex-direction: column-reverse;
    }  
    .text {
        width: 90%;
    }  
    .title {
        font-size: 50px;
    } 
    .moiImage {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
}