* {
    margin: 0;
    color: white;
}
.pageProjectId {
    width: 90%;
    margin: auto;
    text-align: center;
}


.pageProjectId h1 {
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pageProjectId p {
    width: 60%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

.pageProjectId h2, h3 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button {
    font-size: 20px;   
    border: 3px solid #f1f1f1;
    padding: 15px;
    width: 20%;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.15s ease-out,  
    color 0.15s ease-out,  
    background-color  0.15s ease-out ;
}

.button i {
    padding-right: 10px;
}

.button:hover {
    transform: translate(-6px, -6px);
    color: black;
    background: #f1f1f1 ;
}

.button:hover i {
    color: black;
}


@media screen and (max-width:900px)
  {
  
    .pageProjectId p {
        width: 90%;
        font-size: 15px;
    }
    .pageProjectId h2, h3 {
        font-size: 30px;
    }
    .button {
        font-size: 15px;   
        width: 35%;
    }
  }