.containerBtn {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 60%;
}

.text span {
    font-size: 20px;   
    border: 3px solid #f1f1f1;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.15s ease-out,  
    color 0.15s ease-out,  
    background-color  0.15s ease-out ;
}

.text:hover span {
    transform: translate(-6px, -6px);
    color: black;
    background: #f1f1f1 ;
}

a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 500;
}

@media screen and (max-width:1300px)
  {
    .containerBtn {
        
        width: 90%;
    }
}

@media screen and (max-width:900px)
  {
    .containerBtn {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .text span {
        margin-bottom: 10px;
        font-size: 15px;   
        border: 3px solid #f1f1f1;
        padding: 15px;
        width: 100px;
    }
}
