.blockMedias {
  width: 10%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoMedias {
  width: 50px; 
  height: 50px; 
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.15s ease-in-out; 
}

.logoMedias:hover {
  transform: scale(1.15);
}

.infoBulle {
  color: black;
  background-color: white;
}

@media screen and (max-width:900px)
  {
    .blockMedias {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      min-height: 100px;
    }
    
}
