.bulle {
  list-style-type: none;
  margin-bottom: 40px; 
}

.logoMedias {
  width: 50px; 
  height: 50px; 
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.15s ease-in-out; 
  
}

.logoMedias:hover {
  transform: scale(1.15);
}

.logoMediasCv {
  width: 50px; 
  height: 50px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.15s ease-in-out; 
}

.logoMediasCv:hover {
  transform: scale(1.15);
}

.infoBulle {
  color: black;
  background-color: white;
}


